<?php


namespace Printful\Tests;

/**
 * If you want to run tests, copy this file in this directory without the .dist extension
 * and enter your store API Key here
 */
class Credentials
{
    /**
     * @var string
     */
    public static $apiKey = '';

    /**
     * Option to override API URL
     * @var string
     */
    public static $apiUrlOverride = '';
}