<?php


namespace Printful\Tests;

/**
 * If you want to run tests, copy this file in this directory without the .dist extension
 * and enter your store API Key here
 */
class PrintfulTestCredentials
{
    /**
     * @var string
     */
    public static $apiKey = '';
}